$item-width: 100px;
$item-height: 100px;
$controls-color: black;
$controls-width: 22px;

#maze {
	>.content {
			position: relative;
			width: 400px; // default width
			height: 400px; // default height
			margin: 40px auto;
		>.item {
			// position: absolute;
			float: left;
			width: $item-width;
			height: $item-width;
			border: 1px solid black;
		}
		>.wall {
			background-color: black;
		}
		>.current {
			background: #e3e3e3 url("../images/go.jpg") no-repeat 50% 50%;
	  	background-size: 100%;
		}
		>.end {
			background: url("../images/exit.png") no-repeat 50% 50%;
	  	background-size: 100%;
		}
	}

	>.controls {
		position: fixed;
	  width: 110px;
	  height: 110px;
	  z-index: 30;
	  right: 50px;
	  bottom: 150px;
	  >div {
	  	position: absolute;
	  	width: 0;
	  	height: 0;
  		cursor: pointer;
  		border: 12px solid transparent;

  		&:hover {
  			opacity: 0.7;
  		}
	  }
		>.left {
			top: 42px;
  		border-right-width: $controls-width;
  		border-right-color: $controls-color;
		}
		>.right {
  		top: 42px;
			left: 74px;
  		border-left-width: $controls-width;
			border-left-color: $controls-color;
		}
		>.up {
  		left: 42px;
  		border-bottom-width: $controls-width;
			border-bottom-color: $controls-color;
		}
		>.down {
			top: 74px;
  		left: 42px;
  		border-top-width: $controls-width;
			border-top-color: $controls-color;
		}
	}
}